:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    
    background: #eee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.logo i {
    color: var(--orange);
}

.navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.navbar a:hover {
    color: var(--orange);
}

.icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

.search-form, .shopping-cart, .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 35rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    transition: .4s linear;
}

.search-form.active, .shopping-cart.active, .login-form.active {
    right: 2rem;
}

.search-form input, .shopping-cart .box img {
    width: 100%;
}

.search-form input {
    font-size: 1.6rem;
    padding: 0 1.5rem;
}

.search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--orange);
    text-decoration: underline;
}
.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 1rem;
  }

@media (max-width:991px) {
    /* html {
        font-size: 55%;
    } */

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        background: #fff;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
    }

    .navbar.active {
        right: 2rem;
    }

    .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }
}
